<h1>Burger Buddy</h1>

<ul>
    {{#each burgers}}
    <li>{{name}}</li>
    <p>A {{adjective}} burger served on a {{bun}}, with {{cheese}} and {{condiments}}, topped with {{toppings}}.</p>
    {{/each}}
</ul>